input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputParent {
  width: 100%;
  grid-row: span 2;
  display: flex ;
  flex-direction: column;
  justify-content: space-around;
}
.input {
  width: 100%;
  color: black;
  outline: none;
  padding: 10px;
  font-size: 20px;
  overflow-x: scroll;
}

