input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inputParent {
    width: 100%;
    grid-row: span 2;
    display: flex;
}
.input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    outline: none;
    padding: 10px;
    font-size: 24px;
    font-weight: lighter;
    font-family: "Sama Gurmukhi";
}
